In [1]:
from one.api import ONE
import matplotlib.pyplot as plt
import numpy as np
import sys
import os
import seaborn as sns
import pandas as pd

parent_dir = os.path.dirname(os.getcwd())
if parent_dir not in sys.path:
    sys.path.append(parent_dir)
    
from utils.load_meso_session import MesoscopeSession

one = ONE()
SESSION_INDEX = 0

In [2]:
session = MesoscopeSession.from_csv(one, '../good_mesoscope_sessions_final.csv', SESSION_INDEX, raw_activity=True)

In [3]:
session.save_activity_matrix('../data/activity_raw.h5')

Activity matrix saved to ../data/activity_raw.h5
Shape: (19081, 7673) (time_points x neurons)
File size: 492.04 MB

In [4]:
activity_matrix, timestamps, metadata = session.load_activity_matrix('../data/activity_raw.h5')

Activity matrix loaded from ../data/activity_raw.h5
Shape: (19081, 7673) (time_points x neurons)
Metadata: {'date': '2025-04-09T12:10:56.318000', 'duration_hours': np.float64(1.0843897222222223), 'eid': '61f260e7-b5d3-4865-a577-bcfc53fda8a8', 'n_total_neurons': np.int64(7673), 'shape_description': 'activity_matrix: [time_points, neurons], timestamps: [time_points]', 'subject': 'SP066', 'task_protocol': '_iblrig_tasks_biasedChoiceWorld8.27.6/_sp_passiveVideo8.27.6', 'time_window': 'full_session'}

In [39]:
matrix = session.get_activity_matrix()

In [53]:
# pd.DataFrame



# matrix[0][:100, :100].shape
# get 100 timestamps and 500 neurons
first_100_timestamps = matrix[0][:100, :500]

In [56]:
first_100_df = pd.DataFrame(first_100_timestamps)

In [58]:
first_100_df.describe()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,372.137329,12.642490,1112.418213,46.404526,154.631393,95.666702,121.839020,11.728748,23.266575,119.096649,...,4.719090,6.413414,7.584827,21.009968,16.368065,50.008598,20.156418,13.456012,2.874363,20.690401
std,788.087585,42.784664,1714.450073,196.638657,368.171783,288.997772,355.760468,44.401264,93.680305,474.711060,...,13.157451,35.242325,29.855867,63.655472,58.698475,136.082108,67.789398,40.475918,10.586235,52.979248
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,258.295258,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,277.233513,0.000000,1758.304962,0.000000,108.625599,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.885275
max,4081.171631,291.765625,9210.916016,1829.100342,1901.366455,1826.138550,2214.322021,355.255676,608.465210,3909.639648,...,68.340424,344.557068,252.991592,470.218933,435.029907,796.500671,371.908508,267.043945,62.250935,295.422272